.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-link {
    display: inline-block;
  }
  
  .nav-link:focus,.nav-link:hover {
    text-decoration: none;
  }
  
  .nav-link.disabled {
    color: #818a91;
  }
  
  .nav-link.disabled,.nav-link.disabled:focus,.nav-link.disabled:hover {
    color: #818a91;
    cursor: not-allowed;
    background-color: transparent;
  }
  
  .nav-inline .nav-item {
    display: inline-block;
  }
  
  .nav-inline .nav-item+.nav-item,.nav-inline .nav-link+.nav-link {
    margin-left: 1rem;
  }
  
  .nav-tabs {
    border-bottom: 1px solid #ddd;
  }
  
  .nav-tabs::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .nav-tabs .nav-item {
    float: left;
    margin-bottom: -1px;
  }
  
  .nav-tabs .nav-item+.nav-item {
    margin-left: .2rem;
  }
  
  .nav-tabs .nav-link {
    display: block;
    padding: .5em 1em;
    border: 1px solid transparent;
    border-radius: .25rem .25rem 0 0;
  }
  
  .nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover {
    border-color: #eceeef #eceeef #ddd;
  }
  
  .nav-tabs .nav-link.disabled,.nav-tabs .nav-link.disabled:focus,.nav-tabs .nav-link.disabled:hover {
    color: #818a91;
    background-color: transparent;
    border-color: transparent;
  }
  
  .nav-tabs .nav-link.active,.nav-tabs .nav-link.active:focus,.nav-tabs .nav-link.active:hover,.nav-tabs .nav-item.open .nav-link,.nav-tabs .nav-item.open .nav-link:focus,.nav-tabs .nav-item.open .nav-link:hover {
    color: #55595c;
    background-color: #fff;
    border-color: #ddd #ddd transparent;
  }
  
  .nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  .nav-pills::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .nav-pills .nav-item {
    float: left;
  }
  
  .nav-pills .nav-item+.nav-item {
    margin-left: .2rem;
  }
  
  .nav-pills .nav-link {
    display: block;
    padding: .5em 1em;
    border-radius: .25rem;
  }
  
  .nav-pills .nav-link.active,.nav-pills .nav-link.active:focus,.nav-pills .nav-link.active:hover,.nav-pills .nav-item.open .nav-link,.nav-pills .nav-item.open .nav-link:focus,.nav-pills .nav-item.open .nav-link:hover {
    color: #fff;
    cursor: default;
    background-color: #5cb85c;
  }
  
  .nav-stacked .nav-item {
    display: block;
    float: none;
  }
  
  .nav-stacked .nav-item+.nav-item {
    margin-top: .2rem;
    margin-left: 0;
  }
  